:host {
  width: 100vw;
  height: 21vw;
  min-height: 290px;
  // overflow: hidden;
  text-align: center;
  overflow: hidden;
}

.pages {
  height: 100%;
}

.page {
  position: relative;
    
  .tool {
    position: absolute;
    display: inline-block;
    top: 0px;
    left: 0px;
    .tooltip {
      pointer-events: none;
      white-space: nowrap;
      position: absolute;
      bottom: -30px;
      background-color: white;
      padding: 5px 10px;
      text-align: center;
      border-radius: 25px;
      box-shadow: 
      0 15px 35px rgba(0,0,0,.1), 0 3px 10px rgba(0,0,0,.07),
      0 0 1px 0px white inset, 0 0 1px 0px white;
    }
  }

  @function randomNum($min, $max) {
    $rand: random();
    $randomNum: $min + floor($rand * (($max - $min) + 1));
  
    @return $randomNum;
  }
  @mixin generateAnimation ($i) {
    @keyframes shake-#{$i} {
      0% {
        transform: translate(randomNum(5, 15) + px, randomNum(5, 15) + px);
      }
  
      25% {
        transform: translate(randomNum(5, 15) + px, randomNum(5, 15) + px);
      }
      
      50% {
        transform: translate(randomNum(5, 15) + px, randomNum(5, 15) + px);
      }
  
      75% {
        transform: translate(randomNum(5, 15) + px, randomNum(5, 15) + px);
      }
    }
    animation-delay: randomNum(100, 1000) + ms;
    animation: shake-#{$i} randomNum(10, 20) + s ease alternate infinite;
  }
  
  @for $i from 1 to 20 {
    .tool:nth-child(#{$i}) { 
      @include generateAnimation($i);
    }
  }
}


