<div
#pages
>
  <div 
  class="page" 
  *ngFor="let page of ' '.repeat(2).split(''), let pageIndex = index"
  >
    <div *ngFor="let tool of tools"
    class="tool" 
    fxLayout="column"
    fxLayoutAlign="start center"
    [style.top.px]="tool.icon.position.y"
    [style.left.px]="tool.icon.position.x"
    >
      <bubble 
        (mouseenter)="tool.showTooltip = true"
        (mouseleave)="tool.showTooltip = false"
        [name]="tool.icon.name" 
        [ext]="tool.icon.ext" 
        [color]="tool.icon.color"
        [scale]="tool.icon.scale || 1"
        [size]="tool.icon.size * 100 / 3"
      ></bubble>
      <div class="tooltip" *ngIf="tool.showTooltip" [@FadeFromTop]>
        <span>{{tool.name}}</span>
      </div>
  </div>
  </div>
</div>

