:host {
  text-align: center;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
}

.craft {
  position: relative;
  padding-top: 50px;
  text-align: center;
  width: 150px;
  margin-right: 11px;
  .name {
    position: absolute;
    font-size: 1rem;
    width: 100%;
    bottom: 109px;
  }

  .gauge {
    position: relative;
    top: 33px;
    .bracket {
      font-size: 1rem;
      position: absolute;
      top: 43%;
    }
  }

  
}
