
<div fxLayout="column" fxLayoutGap="20px">
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
    <bubble name="avatar"></bubble>
    <span>Roman Kisil</span>
  </div>
  <div fxLayout="column" fxLayoutAlign="start center">
    <h1>Full Stack TypeScript Developer</h1>
    <span>🤓 DevOps Engineer</span>
    <span>🤹🏻‍ Mr. Efficiency</span>
    <span>👨🏻‍💻 Passion for Prototypes, MVP's and Startups</span>
    <span>🎧 Creator of <a href="https://bitgapp.com/eqmac" target="_blank">eqMac</a></span>
    <span>🏍 Motorcycle Rider</span>
    <span>🚁 Future Helicopter Pilot</span>
    <!-- <span>🧗🏻‍ 🏋🏻 🏓 🛴</span> -->
  </div>
</div>
